<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <title>Timer</title>
  </head>

  <body>
    <div id="app">
      <div class="timer">{{formattedTime}}</div>

      <div class="relative">
        <div class="actions">
          <button class="material-symbols-outlined" type="button" @click="stop">
            pause_circle
          </button>
          <button
            class="material-symbols-outlined"
            type="button"
            @click="start"
          >
            play_circle
          </button>
          <button
            class="material-symbols-outlined"
            type="button"
            @click="reset"
          >
            stop_circle
          </button>
          <button
            class="material-symbols-outlined"
            type="button"
            @click="record"
          >
            add_circle
          </button>
        </div>

        <div class="list">
          <ul v-if="hasRecords" class="divide-y">
            <li
              class="inline-flex items-center"
              v-for="(time,idx) in list"
              :key="idx"
            >
              <span class="mr-3">{{idx+1}}.</span> {{formatTime(time)}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>

  <script type="module">
    import {
      createApp,
      ref,
      watchEffect,
      computed,
    } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

    createApp({
      setup() {
        const millisecond = ref(0);
        const list = ref([]);
        const hasRecords = computed(() => list.value.length > 0);

        const timerId = ref(null);

        function clearRecords() {
          list.value = [];
        }

        function start() {
          if (timerId.value) return;

          timerId.value = setInterval(() => {
            millisecond.value += 10;
          }, 10);
        }

        function stop() {
          clearInterval(timerId.value);
          timerId.value = null;
        }

        function reset() {
          stop();
          clearRecords();
          millisecond.value = 0;
        }

        function record() {
          list.value.push(millisecond.value);
        }

        function stop5Records() {
          if (list.value.length === 5) {
            stop();
          }
        }

        function formatTime(milliseconds) {
          const minutes = Math.floor(milliseconds / 60000);
          const seconds = Math.floor((milliseconds % 60000) / 1000);
          const ms = Math.floor((milliseconds % 1000) / 10);

          return `${String(minutes).padStart(2, "0")}:${String(
            seconds
          ).padStart(2, "0")}.${String(ms).padStart(2, "0")}`;
        }

        const formattedTime = computed(() => formatTime(millisecond.value));

        watchEffect(() => {
          stop5Records();
        });

        return {
          formattedTime,
          list,
          hasRecords,
          start,
          stop,
          reset,
          record,
          formatTime,
        };
      },
    }).mount("#app");
  </script>

  <style type="text/tailwindcss">
    body {
      @apply p-0 m-0 h-dvh w-dvw;
    }

    button {
      @apply hover:opacity-70 transition-opacity cursor-pointer;
    }

    #app {
      @apply flex flex-col justify-center items-center h-full gap-2;
    }

    .list {
      @apply absolute top-full translate-x-1/2 right-1/2 translate-y-4 text-sm font-mono;
    }

    .actions {
      @apply flex gap-1 text-xl;
    }

    .timer {
      @apply text-2xl text-gray-800 font-mono;
    }
  </style>
</html>
